In [1]:
a=102

In [2]:
type(a)

int

In [4]:
#Convert a integer to a floating-point number.
float(a)

102.0

In [6]:
#Convert a float to an integer.
int(a)

102

In [7]:
#Convert a integer to a string.
str(a)

'102'

In [15]:
#Convert a list to a tuple.
L=[2,'Sun', 5.2, 'Moon'] #List
print (tuple(i for i in L))

(2, 'Sun', 5.2, 'Moon')

In [25]:
#Convert a tuple to a list.
T=("Mercury", "Venus", 12, 46, "a") #Tuple
arr =[]
for i in T:
    arr.append(i)
print(arr)

['Mercury', 'Venus', 12, 46, 'a']

In [19]:
#Convert a decimal number to binary.
bin(38)

'0b100110'

In [20]:
#Convert a non-zero number to boolean.
bool(4)

True